# BFF
USE_MOCK=true
PORT=4000
FRONTEND_URL=http://localhost:5173
# Keycloak
KEYCLOAK_REALM=ferza
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_CLIENT_ID=ferza-bff
# Backend Services (prod only)
ORDER_SERVICE_URL=http://localhost:3001
PIM_SERVICE_URL=http://localhost:3002
CUSTOMER_SERVICE_URL=http://localhost:3003
RISK_SERVICE_URL=http://localhost:3004
INVENTORY_SERVICE_URL=http://localhost:3005
PROCUREMENT_SERVICE_URL=http://localhost:3006
CATALOGUE_SERVICE_URL=http://localhost:3007
# Frontend
VITE_BFF_URL=http://localhost:4000
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=ferza
VITE_KEYCLOAK_CLIENT_ID=ferza-frontend
